## BiocGenerics for annotation, annotation<-,strand
#exportPattern("^[[:alpha:]]+")
useDynLib(spliceSites)
importFrom(BiocGenerics,annotation)
importFrom(BiocGenerics,"annotation<-")
importFrom(BiocGenerics,strand)
importFrom(doBy,summaryBy)
importFrom(seqLogo,makePWM)
importFrom(seqLogo,seqLogo)
importFrom(IRanges,RleViewsList)
import(methods,rbamtools,refGenome,Biobase,Biostrings)
export(
        alignGapList,
        as.data.frame.gapSites,
        countByGeneName,
        dnaGapSites,
        gapSites,
        load.hbond,
        load.maxEnt,
        silic_tryp,
        rangeByGeneName,
        readCuffGeneFpkm,
        readExpSet,
        readMergedBamGaps,
        readTabledBamGaps,
        getGapSites,
        merge.gapSites,
        truncate_seq
)
exportMethods(
    addHbond,
    addKeyTable,
    addGeneAligns,
    addMaxEnt,
    basedir,
    "basedir<-",
    appendKeyTable,
    alt_ranks,
    annotate,
    annotation,
    "annotation<-",
    dnaRanges,
    alt_left_ranks,
    alt_right_ranks,
    "c",
    count,
    dim,
    dnaGapSites,
    end,
    extractByGeneName,
    extractRange,
    getAnnStrand,
    getKeyTable,
    getMeStrand,
    getProfile,
    getSequence,
    gptm,
    hbond,
    head,
    id,
    initialize,
    lCodons,
    lend,
    lJunc,
    lJuncStrand,
    lrCodons,
    lrJunc,
    lrJuncStrand,
    lstart,
    nAligns,
    nAlignGaps,
    plotGeneAlignDepth,
    plot_diff,
    plot_diff_ranks,
    rCodons,
    rend,
    resize_left,
    resize_right,
    rJunc,
    rJuncStrand,
    rpmg,
    rstart,
    saveMaxEnt,
    score3,
    score5,
    scoreSeq5,
    scoreSeq3,
    seqid,
    seqlogo,
    seqid,
    setMeStrand,
    show,
    sortTable,
    start,
    strand,
    translate,
    trim_left,
    trim_right,
    truncateSeq,
    trypsinCleave,
    uniqueJuncAnn,
    width,
    write.annDNA.tables,
    write.files
)
exportClasses(
    annGapSites,
    aaGapSites,
    caRanges,
    cdRanges,
    cRanges,
    dnaGapSites,
    gapSites,
    hbond,
    maxEnt
)
